<div class="container">
  <h5 *ngIf='isPaid' class="text-success my-4">
    {{CONST.payementSuccess}}
  </h5>
  <div *ngIf='!isPaid' class="row">
    <div class="col-sm-6">
      <div class="modal-header">
        <h4 class="modal-title">Payement</h4>
      </div>
      <form novalidate (ngSubmit)="buy()" [formGroup]="stripeTest">
        <div class="modal-body">
          <div class="form-group">
            <label>
              {{CONST.customerName}}
              <input type="text" class="form-control" formControlName="name" placeholder="John Doe">
            </label>
          </div>

          <div class="form-group">
            <label>
              {{CONST.email}}
              <input type="email" class="form-control" formControlName="email" placeholder="john@xyz.com">
            </label>
          </div>

          <b class="ml-3">{{CONST.amount}} </b> {{amount || 0 | currency : 'INR'}}

          <div class="form-group">
            <ngx-stripe-card [options]="cardOptions" [elementsOptions]="elementsOptions"></ngx-stripe-card>
          </div>



          <div class="modal-footer">
            <button class="btn btn-orange float-right" type="submit">
              {{CONST.buy}}
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>