<div class="container">
  <div class="card">
    <div class="card-header">
      <h2>
        {{CONST.myOrders}}
      </h2>
    </div>
    <div class="card-body" *ngIf='orders'>
      <div class="container" *ngFor='let order of orders; index as j'>
        <h4>
          {{CONST.orderNumb}} : {{j+1}}
        </h4>
        <b>
          Status :
          <span [ngClass]="{'text-primary': (order?.order_status == 'pending'),
              'text-success': (order?.order_status == 'success'),
               'text-danger': (order?.order_status == 'failed')}">
            {{order?.order_status}}
          </span>
        </b>
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">
                {{CONST.srNumb}}
              </th>
              <th>
                {{CONST.productName}}
              </th>
              <th>
                {{CONST.productQuantity}}
              </th>
              <th>
                {{CONST.productCost}}
              </th>
            </tr>
          </thead>
          <tbody *ngIf='order.cart_items'>
            <tr *ngFor='let item of order.cart_items; index as i'>
              <th scope="row">
                {{i+1}}
              </th>
              <td>{{item.product_id.name | summary : 40}}</td>
              <td>
                {{item.quantity}}
              </td>

              <td>
                <div *ngIf='item.product_id.discount > 0; then offerPrice else price'>
                </div>
                <ng-template #price>
                  {{item.product_id.price | currency : 'INR'}}
                </ng-template>
                <ng-template #offerPrice>
                  <del class="text-secondary">
                    {{item.product_id.price | currency : 'INR'}}
                  </del>
                  <span class="mx-2">
                    {{item.product_id.price 
                      * (1 - item.product_id.discount / 100) | currency : 'INR'}}
                  </span>
                </ng-template>
              </td>
            </tr>
          </tbody>
          <tfoot *ngIf='order.cart_items'>
            <tr>
              <td></td>
              <th>{{CONST.total}}</th>
              <th>{{order.order_total_qty}}</th>
              <th>{{order.order_total_price | currency : 'INR'}}</th>
            </tr>
          </tfoot>

        </table>
        <button class="float-right btn btn-orange" *ngIf='order?.order_status != "success"'
          [routerLink]="[ '/cart', 'pay', order._id, order.order_total_price ]">
          {{CONST.buy}}
        </button>
      </div>

    </div>

    <div class="card-footer">

    </div>
  </div>
</div>