<div class="container py-5" *ngIf='product'>
  <div class="row">
    <div class="col-12 p-4">
      <h1>
        {{product._id | uppercase}}
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-5 text-center">
      <img [src]="product.product.images[0]" alt="{{product.product.name}}">
    </div>
    <div class="col-sm-7 card">
      <div class="">
        <div class="card-header text-center">
          <h3>{{product.product.name}}</h3>
        </div>
        <div class="card-body text-center">
          <p class="text-secondary">Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi illum magni suscipit
            quas similique explicabo placeat eveniet tempora repellat ad? Accusantium unde magnam veritatis at neque
            iure facere harum dignissimos? </p>
          <h4 class="text-primary"> {{product.product.price | currency : 'INR'}} </h4>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="row">
    <div class="col-12 py-5">
      <table class="table table-hover table-striped">
        <legend class="text-center">Specification of Products</legend>
      </table>
    </div>
  </div> -->
</div>