<div class="container py-5" *ngIf='product'>
  <!-- <button class="btn btn-danger" (click)='onClick()'>get data</button> -->
  <div class="row">
    <div class="col-sm-7 text-center">
      <img [src]="image" class="main" alt="{{product.name}}">
      <div class="float-left py-3 mx-auto">
        <img class="float-left mx-2" width="100" height="100" *ngFor='let img of product.images' [src]="img"
          (click)='imgChange(img)'>
      </div>
    </div>
    <div class="col-sm-5 card">
      <div class="">
        <div class="card-header text-center">
          <h3>{{product.name}}</h3>
        </div>
        <div class="card-body text-center">
          <div class="text-secondary" *ngFor='let desc of product.highlight'>
            {{desc}}
          </div>
          <h4>
            <del class="text-secondary">
              {{product.price | currency : 'INR'}}
            </del>
            <span class="text-primary mx-2">
              {{product.price * (1 - product.discount / 100) | currency : 'INR'}}
            </span>
          </h4>
        </div>
      </div>
    </div>
  </div>
</div>



<!-- <div class="container" *ngIf="demo | async as dem">
  {{dem.data | json}}
</div> -->