<div class="container">
  <div class="row">
    <div class="col-12 py-4">
      <a (click)='getAllProducts()'>
        <h2>{{category}}</h2>
      </a>


    </div>
  </div>
  <div class="row">
    <div class="col-2">
      <div class="py-3">
        <h5>
          {{CONST?.categories}}
        </h5>
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor='let item of categories'>
            <a class="nav-link" [ngClass]="{'active' : item._id == categoryId}" (click)='changeCat(item)'>
              {{item.name}}
            </a>
          </li>
        </ul>
      </div>

      <div class="py-3">
        <h5>
          {{CONST?.brands}}
        </h5>
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor='let item of brands'>
            <a class="nav-link" [ngClass]="{'active' : item._id == brand}" (click)='changeBrand(item._id)'>
              {{item.name}}
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-10" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50"
      (scrolled)="onScroll()">
      <div class="row" *ngIf='products'>
        <div class="col-sm-3 py-2 px-2 item" *ngFor='let item of products'>
          <product [product]='item'></product>
        </div>
      </div>
    </div>
  </div>
</div>
