<div class="container">
  <div class="row">
    <div class="col-12 py-4">
      <h2>{{title}}s</h2>

    </div>
  </div>
  <div class="row" *ngIf='res'>
    <div class="col-sm-4 py-4 px-4 item" *ngFor='let item of res.brands; let i = index'>
      <a [routerLink]="['/shopping', 'phone', item.product._id]">
        <img [src]="item.product.images[0]" [alt]="item.product.name" width="400" height="300">
      </a>
      <div class="desc">
        <h5>{{item.product.name}}</h5>
        <p class="text-secondary">{{'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Odit, repellat,
          perspiciatis assumenda ipsum debitis ab blanditiis in minus, nisi pariatur aspernatur a ea vero harum quod
          iste et! Vel, sunt!' | summary : 100}}</p>
        <p class="text-primary float-left">{{item.product.price | currency : 'INR'}}</p>

        <div class="float-right" *ngIf='cart.getIndexFromCart(item.product) < 0'>
          <button class="btn btn-primary" (click)='cart.addCart(item.product)'>Add to
            cart</button>
        </div>
        <div class="float-right" *ngIf='cart.getIndexFromCart(item.product) >= 0'>
          <button class="btn btn-primary" (click)='cart.updateQuantity(item.product, false)' [disabled]='item.product.quantity < 1'>-</button>
          <input type="number" class="text-center border-0" [value]='cart.cart[cart.getIndexFromCart(item.product)].quantity'
            min="0" max="999" readonly>

          <button class="btn btn-primary" (click)='cart.updateQuantity(item.product, true)'>+</button>
        </div>

      </div>
    </div>
  </div>
</div>