<div class="container">
  <div class="row">
    <div class="col-12 pb-3">
      <app-shopping-carousel></app-shopping-carousel>
    </div>
  </div>
  <div class="container-fluid" *ngIf='categories'>
    <div class="row" *ngFor='let item of categories'>
      <div class="col-12 py-3">
        <div class="container-fluid overflow-hidden">
          <h3 class="float-left">
            {{item.name}}
          </h3>
          <button type="button" class="btn btn-orange rounded-0 float-right"
            [routerLink]="['/products', item.name, item._id]">
            View All
          </button>
        </div>

        <div class="container-fluid">
          <div class="row">
            <div class="col-sm-3 py-3" *ngFor='let prod of item.data'>
              <product [product]='prod'></product>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>