<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>Sr.No.</th>
            <th>Product Name</th>
            <th>Product Quantity</th>
            <th>Product Price</th>
            <th>Amount</th>
          </tr>
        </thead>
        <tbody *ngIf='cart'>
          <tr *ngFor='let item of cart; index as i'>
            <td>
              {{i+1}}
            </td>
            <td>{{item.product_id.name}}</td>
            <td>
              {{item.quantity}}
              <div class="float-right">
                <button class="btn btn-sm pt-0" (click)='updateQuantity(item, true)'>
                  +
                </button><br>
                <button class="btn btn-sm pb-0" (click)='updateQuantity(item, false)'>
                  -
                </button>
              </div>
            </td>
            <td>
              <div *ngIf='item.product_id.discount > 0; then offerPrice else price'>
              </div>
              <ng-template #price>
                {{item.product_id.price | currency : 'INR'}}
              </ng-template>
              <ng-template #offerPrice>
                <del class="text-secondary">
                  {{item.product_id.price | currency : 'INR'}}
                </del>
                <span class="mx-2">
                  {{item.product_id.price 
                    * (1 - item.product_id.discount / 100) | currency : 'INR'}}
                </span>
              </ng-template>
            </td>

            <td>
              {{item.product_id.price 
                * (1 - item.product_id.discount / 100) 
                * item.quantity | currency : 'INR'}}
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf='cart'>
          <tr>
            <td></td>
            <th>Total</th>
            <th>{{totalQuantity}}</th>
            <td></td>
            <th>{{totalAmount | currency : 'INR'}}</th>
          </tr>
        </tfoot>
      </table>
      <button class="btn btn-success float-right">Buy Products</button>
    </div>
  </div>
</div>