<div class="container py-5">
  <div class="row">
    <div class="col-12">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th>
              {{CONST.srNumb}}
            </th>
            <th>
              {{CONST.productName}}
            </th>
            <th>
              {{CONST.productQuantity}}
            </th>
            <th>
              {{CONST.actions}}
            </th>
            <th>
              {{CONST.productCost}}
            </th>
            <th>
              {{CONST.amount}}
            </th>
          </tr>
        </thead>
        <tbody *ngIf='cart'>
          <tr *ngFor='let item of cart; index as i'>
            <td>
              {{i+1}}
            </td>
            <td>{{item.product_id.name | summary : 40}}</td>
            <td>
              {{item.quantity}}
            </td>
            <td>
              <button class="btn btn-sm btn-orange" (click)='updateQuantity(item, true)'>
                &#x2795;
              </button>
              <button class="btn btn-sm btn-orange mx-2" (click)='updateQuantity(item, false)'>
                &#x2796;
              </button>
              <button class="btn btn-sm btn-orange" (click)='delete(item)'>
                &#x2716;
              </button>
            </td>
            <td>
              <div *ngIf='item.product_id.discount > 0; then offerPrice else price'>
              </div>
              <ng-template #price>
                {{item.product_id.price | currency : 'INR'}}
              </ng-template>
              <ng-template #offerPrice>
                <del class="text-secondary">
                  {{item.product_id.price | currency : 'INR'}}
                </del>
                <span class="mx-2">
                  {{item.product_id.price 
                    * (1 - item.product_id.discount / 100) | currency : 'INR'}}
                </span>
              </ng-template>
            </td>

            <td>
              {{item.product_id.price 
                * (1 - item.product_id.discount / 100) 
                * item.quantity | currency : 'INR'}}
            </td>
          </tr>
        </tbody>
        <tfoot *ngIf='cart'>
          <tr>
            <td></td>
            <th>Total</th>
            <th>{{totalQuantity}}</th>
            <td></td>
            <th>{{totalAmount | currency : 'INR'}}</th>
          </tr>
        </tfoot>
      </table>
      <button class="btn btn-success float-right" (click)='placeOrder()'>
          {{CONST.placeOrder}}
      </button>
    </div>
  </div>
</div>